---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate}</p>
  <p class="description">{frontmatter.description}</p>
  <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
  <p>Written by {frontmatter.author}</p>
</BaseLayout>

<style>
  img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    border-radius: 1rem;
  }
</style>
